@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Ubuntu+Mono:wght@700&display=swap');

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
}

button.button {
    cursor: pointer;
    border: white 3px solid;
    color: white;
    padding: 3px 10px;
    background-color: transparent;
    text-transform: lowercase;
    font-family: 'Comfortaa', cursive;
    border-radius: 2em/100%;
}

button.button:hover {
    cursor: pointer;
    border: white 3px solid;
    background-color: #ffffff99;
}

button.landing {
    padding: 8px 30px;
    margin: 0px 15px;
    font-size: 1.5em;
    border-radius: 2em/100%;
}

button.primary {
    color: black;
    background-color: white;
}

#clock {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 12em;
    margin-top: -1.5rem;
    color: white;
}

#info {
    font-family: 'Comfortaa', cursive;
    font-size: 4em;
    color: white;
}

#barContainer {
    border: #fff 4px solid;
    border-radius: 2rem/100%;
    overflow: hidden;
    width: 30rem;    
    margin-bottom: 2em;

    visibility: hidden;
    display: none;
}

#mainProgressBar {
    width: 0%;
    height: 30px;
    background-color: white;
    overflow: hidden;
    white-space: nowrap;
}