@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

 :root {
     --backgroundColor: transparent;
     --mainColor: white;
}
 .container{
    /* Center content horizontally and vertically */
     display: flex;
     align-items: center;
     justify-content: center;
     height: 100vh;
     width: 100vw;
     background-color: var(--backgroundColor);
}
 form{
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 50vw;
     height: 50vh;
     background-color: var(--mainColor);
     border-radius: 10px;
     padding: 10px;
}
 label{
     font-family: 'Lilita One', cursive;
     font-size: 1.5rem;
     color: black;
}
 input[type="number"]{
     height: 30px;
     border-radius: 5px;
     border: 1px solid black;
     padding: 5px;
     font-size: large;
    /* Remove arrows */
     -moz-appearance: textfield;
}
 input[type="submit"]{
     height: 30px;
     border-radius: 5px;
     padding: 5px 10px 15px 10px;
     font-size: large;
    /* background-color: beige;
     */
     border: 1px solid black;
     cursor: pointer;
}
 .barContainer {
     border: 2px solid black;
     box-shadow: 0px 0px 3px 0px;
     border-radius: 50px/100%;
     overflow: hidden;
     margin: 0px 50px;
}
 .progressBar {
     width: 100%;
     background-color: transparent;
     margin: 0;
     padding: 0;
}
 #myBar {
     width: 0%;
     height: 30px;
     background-color: var(--mainColor);
     overflow: hidden;
     color: var(--backgroundColor);
     white-space: nowrap;
     padding: 10;
}
 #bigProgress {
     position: relative;
}
 .progressIndicator {
     width: 0%;
     height: 5px;
     top: 0;
     left: 0;
     background-color: red;
     overflow: hidden;
     margin: 0;
     padding: 0;
     visibility: hidden;
     display: none;
     clear: both;
}
 .work {
     background-color: green;
     height: 10px;
     margin: 0;
     padding: 0;
     float:left;
}
 .rest {
     background-color: blue;
     height: 10px;
     margin: 0;
     padding: 0;
     float:left;
}
 #background {
     position: absolute;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     z-index: -1;
     overflow: hidden;
}
 .text {
     color: white;
     text-align: center;
     margin-bottom: 10px;
}
 #time {
     font-family: 'Source Code Pro', monospace;
     font-weight: 900;
     font-size:11em;
     text-shadow: 0 0 10px #000;
     margin-top: -60px;
}
 #text{
     font-family: 'Carter One', cursive;
     font-size:4.5em;
     text-shadow: 0 0 5px #000;
}
